<!DOCTYPE html>
<html>
<head>
    <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/assets/libs/materialize/js/materialize.min.js"></script>

    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/libs/materialize/css/materialize.css">
    <link rel="stylesheet" href="/assets/libs/mdi/materialdesignicons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo"><i data-activates="slide-out" class="material-icons button-collapse">menu</i>База данных</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="db/download/database" title="Скачать БД"><i class="material-icons">file_download</i></a></li>
        </ul>
    </div>
</nav>

<ul id="slide-out" class="side-nav">
    <li><a href="#!"><i class="material-icons">settings</i>SharedPreferences</a></li>
    <li><a href="#!"><i class="material-icons">view_agenda</i>База данных</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>

<script type="text/javascript">
        $(".button-collapse").sideNav()
</script>
</body>
</html>