<!DOCTYPE html>
<html>
<head>
    <script src="/assets/libs/react/react.js"></script>
</head>
<body>
<div id="example"></div>
<script type="text/javascript">
         var Hello = React.createClass({
            render: function() {
               return React.createElement("div", null, "Hello ", this.props.name);
            }
         });
         React.render(
            React.createElement(Hello, {name: "World"}),
           document.getElementById('example')
         );
      </script>
</body>
</html>