<!DOCTYPE html>
<html>
<head>
    <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/assets/libs/materialize/js/materialize.min.js"></script>
    <script src="/assets/scripts/preferences/preferences.js"></script>

    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/libs/materialize/css/materialize.css">
    <link rel="stylesheet" href="/assets/libs/mdi/materialdesignicons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo"><i data-activates="slide-out"
                                          class="material-icons button-collapse">menu</i>Universal
            Tools</a>
        <ul class="right hide-on-med-and-down">
            <li><a class="waves-effect" href="#modal1" title="Add"><i class="material-icons">add</i></a>
            </li>
        </ul>
    </div>
</nav>

<ul id="slide-out" class="side-nav">
    <li><a href="/" class="waves-effect"><i class="material-icons">settings</i>SharedPreferences</a>
    </li>
    <li><a href="database.html" class="waves-effect"><i class="material-icons">view_agenda</i>Database</a>
    </li>
    <li>
        <div class="divider"></div>
    </li>
</ul>

<table id="preferences">
    <thead>
    <tr>
        <th data-field="id">Name</th>
        <th data-field="name">Value</th>
        <th data-field="price">Type</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div id="modal1" class="modal">
    <div class="modal-content">
        <div class="input-field col s6">
            <input id="pref_name" type="text" class="validate">
            <label for="pref_name">Name</label>
        </div>
        <div class="input-field col s6">
            <input id="pref_value" type="text" class="validate">
            <label for="pref_value">Value</label>
        </div>
        <div class="row">
            <label>Type</label>
            <select id="pref_type">
                <option>String</option>
                <option>Integer</option>
                <option>Long</option>
                <option>Float</option>
                <option>Boolean</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <a href="#" id="add"
           class="modal-action modal-close waves-effect waves-green btn-flat">Add</a>
    </div>
</div>


<script type="text/javascript">
        $(".button-collapse").sideNav()
        $('.modal').modal()
        $('select').material_select();

        $.get( "/preferences/loadAll")
            .done(function(data) {
              loadPreferences(data)
        })

        $('#add').on('click', function(){
            var obj = new Object();
            obj.key = $('#pref_name').val();
            obj.value  = $('#pref_value').val();
            obj.type = $('#pref_type').val();
            addPreference(obj)
        })
</script>
</body>
</html>