body {
	  font-family: 'roboto', sans-serif;
      overflow-y: scroll;
	  background: #F8F8F7;}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  height: 60px;
  padding: 12px;
  background-color: #37474F;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
  .header::after {
    clear: both;
    content: "";
    display: table; }

.main-nav__link {
  display: block;
  padding: 0 12px;
  border-radius: 2px;
  font-size: 14px;
  /* font-size: 1rem; */
  font-weight: 600;
  color: white;
  line-height: 36px;
  text-decoration: none; }
  @media screen and (min-width: 481px) and (max-width: 1023px) {
    .main-nav__link {
      font-size: 14px;
      font-size: 0.875rem; } }

.main-nav {
  float: right; }
  .main-nav ul li {
    float: left; }   

.ace_gutter {
  background: #ECEFF1 !important;
}   

.text-field:after {
	background-color: #00BFA5;
}

.text-field--is-focused .text-field__label {
	color: #00BFA5;
}

.ace-tm .ace_gutter-active-line {
	background-color: #B2DFDB !important;
}

.ace_gutter-cell.ace_error {
	background-image: none !important;
	background-color: #FFCDD2 !important;
}

.ng-hide {
	display: none !important; 
}

#editor {
	position:absolute;
	height:200px;
	top:12px;
	font-size:14px;
}

div > #editor {
	position:relative;
	padding-right:12px;
}

.lx-select__chosen {
    padding: 8px 40px 0 16px;
}

.lx-select__chosen > span.ng-binding {
    line-height: normal;
}

.radio-group .radio-button {
  margin-bottom: 8px;
  margin-right: 20px;
}