<html ng-app="app" ng-controller="AppController">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/libs/lumx/dist/lumx.css">
    <link rel="stylesheet" href="/assets/libs/mdi/materialdesignicons.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="/assets/styles/tools.css">
</head>

<body>
<header class="header">
    <div id="progress"></div>
    <section style="margin:auto">
        <button class="btn btn--l btn--white btn--flat" lx-ripple="white" href="/"><span
                class="fs-headline">Tools</span></button>
        <nav class="main-nav main-nav--lap-and-up">
            <ul>
                <li><a href="/db/download/database" class="main-nav__link"
                       lx-ripple="white">База111 данных</a></li>
            </ul>
        </nav>
    </section>
</header>

<div class="card" style="height:960px;margin:auto;">
    <div class="mt++" flex-container="row" flex-gutter="24" style="padding:36px 24px 0 24px">
        <div flex-item="2" class="ng-hide" ng-hide="active!='containers'">
            <lx-text-field label="Путь до контейнера">
                <textarea ng-model="containers.container"></textarea>
            </lx-text-field>
            <div class="switch mt+">
                <input type="checkbox" ng-model="containers.tumbler"
                       ng-change="containers.onSwitch()" id="switch2" class="switch__input" checked>
                <label for="switch2" class="switch__label">Относительный путь</label>
                <span class="switch__help">Выше указаный путь будет считаться относительным от элемента, указанного ниже.</span>
            </div>
            <lx-text-field label="Родитель">
                <textarea ng-model="containers.from" ng-disabled="!containers.tumbler"></textarea>
            </lx-text-field>
            <button class="btn btn--m btn--blue-grey  btn--raised mt"
                    ng-click="containers.findContainer()" lx-ripple>Найти
            </button>
        </div>
        <div flex-item="2" class="ng-hide" ng-hide="active!='variables'">
            <lx-text-field label="Выражение">
                <textarea ng-model="variables.var"></textarea>
            </lx-text-field>
            <button class="btn btn--m btn--blue-grey  btn--raised mt"
                    ng-click="variables.executeExpression()" lx-ripple>Выполнить
            </button>
        </div>
        <div flex-item="2" class="ng-hide" ng-hide="active!='templates'">
            <div flex-container="row">
                <div flex-item="11">
                    <lx-select style="width: 100%;"
                               ng-model="templates.selected" change="templates.onChange(newValue)"
                               placeholder="Выберите шаблон" floating-label
                               choices="templates.list" loading="{{ templates.loading }}"
                               model-to-selection="templates.toSelection(data, callback)">
                        <lx-select-selected>
                            [{{ $selected.type }}] {{ $selected.title }}
                        </lx-select-selected>

                        <lx-select-choices>
                            [{{ $choice.type }}] {{ $choice.title }}
                        </lx-select-choices>
                    </lx-select>
                </div>
                <div flex-item style="padding-top: 30px;">
                    <lx-dropdown position="right" from-top="true">
                        <button class="btn btn--m btn--black btn--icon" lx-ripple
                                lx-dropdown-toggle>
                            <i class="mdi mdi-dots-vertical"></i>
                        </button>

                        <lx-dropdown-menu>
                            <ul>
                                <li>
                                    <a class="dropdown-link dropdown-link--is-large"
                                       ng-click="templates.downloadTemplate()">
                                        <i class="mdi mdi-download"></i>
                                        <span>Скачать</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-link dropdown-link--is-large"
                                       ng-click="templates.downloadXml()">
                                        <i class="mdi mdi-download"></i>
                                        <span>Скачать XML</span>
                                    </a>
                                </li>
                            </ul>
                        </lx-dropdown-menu>
                    </lx-dropdown>
                </div>
            </div>

            <button class="btn btn--m btn--blue-grey  btn--raised mt"
                    ng-click="templates.save()" lx-ripple>Сохранить
            </button>
            <button class="btn btn--m btn--blue-grey  btn--raised mt"
                    ng-click="opendDialog('create_template')" lx-ripple>Создать
            </button>
            <lx-dialog class="dialog dialog--l" id="create_template" auto-close="true"
                       onclose="closingDialog()" onscrollend="scrollEndDialog()">
                <div class="dialog__header">
                    <div class="toolbar bgc-blue-grey-900 pl++">
            <span class="toolbar__label tc-white fs-title">
                Создать шаблон
            </span>
                    </div>
                </div>

                <div class="dialog__content">

                    <div class="p+">
                        <div class="radio-group" flex-container="row">
                            <div class="radio-button">
                                <input type="radio" id="radio9" name="radio1" value="doc"
                                       ng-model="newTemplate.type" class="radio-button__input">
                                <label for="radio9" class="radio-button__label">Doc</label>
                            </div>

                            <div class="radio-button">
                                <input type="radio" id="radio10" name="radio1" value="view"
                                       ng-model="newTemplate.type" class="radio-button__input">
                                <label for="radio10" class="radio-button__label">View</label>
                            </div>
                        </div>
                        <div flex-item>
                            <lx-text-field label="Имя">
                                <input type="text" ng-model="newTemplate.name">
                            </lx-text-field>
                        </div>
                    </div>

                </div>

                <div class="dialog__actions">
                    <button class="btn btn--m btn--black btn--flat" lx-ripple lx-dialog-close>
                        Отмена
                    </button>
                    <button class="btn btn--m btn--black btn--flat" lx-ripple
                            ng-click="saveDialog('create_template')">Сохранить
                    </button>
                </div>
            </lx-dialog>
        </div>
        <div flex-item="2" class="ng-hide" ng-hide="active!='scripts'">
            <div flex-container="row">
                <div flex-item="11">
                    <lx-select style="width: 100%;"
                               ng-model="scripts.selected" change="scripts.onChange(newValue)"
                               placeholder="Выберите скрипт" floating-label
                               choices="scripts.list" loading="{{ scripts.loading }}"
                               model-to-selection="scripts.toSelection(data, filteringCallback)">
                        <lx-select-selected>
                            [{{ $selected.type }}] {{ $selected.title }}
                        </lx-select-selected>

                        <lx-select-choices>
                            [{{ $choice.type }}] {{ $choice.title }}
                        </lx-select-choices>
                    </lx-select>
                </div>
                <div flex-item style="padding-top: 30px;">
                    <lx-dropdown position="right" from-top="true">
                        <button class="btn btn--m btn--black btn--icon" lx-ripple
                                lx-dropdown-toggle>
                            <i class="mdi mdi-dots-vertical"></i>
                        </button>

                        <lx-dropdown-menu>
                            <ul>
                                <li>
                                    <a class="dropdown-link dropdown-link--is-large"
                                       ng-click="scripts.download()">
                                        <i class="mdi mdi-download"></i>
                                        <span>Скачать</span>
                                    </a>
                                </li>
                            </ul>
                        </lx-dropdown-menu>
                    </lx-dropdown>
                </div>
            </div>

            <button class="btn btn--m btn--blue-grey  btn--raised mt" ng-click="scripts.save()"
                    lx-ripple>Сохранить
            </button>

            <button class="btn btn--m btn--blue-grey  btn--raised mt"
                    ng-click="opendDialog('create_script')" lx-ripple>Создать
            </button>
            <lx-dialog class="dialog dialog--l" id="create_script" auto-close="true"
                       onclose="closingDialog()" onscrollend="scrollEndDialog()">
                <div class="dialog__header">
                    <div class="toolbar bgc-blue-grey-900 pl++">
            <span class="toolbar__label tc-white fs-title">
                Создать скрипт
            </span>
                    </div>
                </div>

                <div class="dialog__content">

                    <div class="p+">
                        <div class="radio-group" flex-container="row">
                            <div class="radio-button">
                                <input type="radio" id="radio1" name="radio1" value="plugin"
                                       ng-model="newScript.type" class="radio-button__input">
                                <label for="radio1" class="radio-button__label">Плагин</label>
                            </div>

                            <div class="radio-button">
                                <input type="radio" id="radio2" name="radio1" value="modifier"
                                       ng-model="newScript.type" class="radio-button__input">
                                <label for="radio2" class="radio-button__label">Модификатор</label>
                            </div>
                            <div class="radio-button">
                                <input type="radio" id="radio3" name="radio1" value="function"
                                       ng-model="newScript.type" class="radio-button__input">
                                <label for="radio3" class="radio-button__label">Функция</label>
                            </div>
                        </div>
                        <div flex-item>
                            <lx-text-field label="Имя">
                                <input type="text" ng-model="newScript.name">
                            </lx-text-field>
                        </div>
                    </div>

                </div>

                <div class="dialog__actions">
                    <button class="btn btn--m btn--black btn--flat" lx-ripple lx-dialog-close>
                        Отмена
                    </button>
                    <button class="btn btn--m btn--black btn--flat" lx-ripple
                            ng-click="saveDialog('create_script')">Сохранить
                    </button>
                </div>
            </lx-dialog>
        </div>


        <div flex-item="2" class="ng-hide" ng-hide="active!='rules'">
            <div flex-container="row">
                <div flex-item="11">
                    <lx-select style="width: 100%;"
                               ng-model="rules.selected" change="rules.onChange(newValue)"
                               placeholder="Выберите правило" floating-label
                               choices="rules.list" loading="{{ rules.loading }}"
                               model-to-selection="rules.toSelection(data, filteringCallback)">
                        <lx-select-selected>
                            [{{ $selected.type }}] {{ $selected.title }}
                        </lx-select-selected>

                        <lx-select-choices>
                            [{{ $choice.type }}] {{ $choice.title }}
                        </lx-select-choices>
                    </lx-select>
                </div>
                <div flex-item style="padding-top: 30px;">
                    <lx-dropdown position="right" from-top="true">
                        <button class="btn btn--m btn--black btn--icon" lx-ripple
                                lx-dropdown-toggle>
                            <i class="mdi mdi-dots-vertical"></i>
                        </button>

                        <lx-dropdown-menu>
                            <ul>
                                <li>
                                    <a class="dropdown-link dropdown-link--is-large"
                                       ng-click="rules.download()">
                                        <i class="mdi mdi-download"></i>
                                        <span>Скачать</span>
                                    </a>
                                </li>
                            </ul>
                        </lx-dropdown-menu>
                    </lx-dropdown>
                </div>
            </div>

            <button class="btn btn--m btn--blue-grey  btn--raised mt" ng-click="rules.save()"
                    lx-ripple>Сохранить
            </button>

            <button class="btn btn--m btn--blue-grey  btn--raised mt"
                    ng-click="opendDialog('create_rules')" lx-ripple>Создать
            </button>
            <lx-dialog class="dialog dialog--l" id="create_rules" auto-close="true"
                       onclose="closingDialog()" onscrollend="scrollEndDialog()">
                <div class="dialog__header">
                    <div class="toolbar bgc-blue-grey-900 pl++">
            <span class="toolbar__label tc-white fs-title">
                Создать правило
            </span>
                    </div>
                </div>

                <div class="dialog__content">

                    <div class="p+">
                        <div class="radio-group" flex-container="row">
                            <div class="radio-button">
                                <input type="radio" id="radio4" name="radio1" value="doc"
                                       ng-model="newRule.type" class="radio-button__input">
                                <label for="radio4" class="radio-button__label">Документ</label>
                            </div>

                            <div class="radio-button">
                                <input type="radio" id="radio5" name="radio1" value="view"
                                       ng-model="newRule.type" class="radio-button__input">
                                <label for="radio5" class="radio-button__label">View</label>
                            </div>
                        </div>
                        <div flex-item>
                            <lx-text-field label="Имя">
                                <input type="text" ng-model="newRule.name">
                            </lx-text-field>
                        </div>
                    </div>

                </div>

                <div class="dialog__actions">
                    <button class="btn btn--m btn--black btn--flat" lx-ripple lx-dialog-close>
                        Отмена
                    </button>
                    <button class="btn btn--m btn--black btn--flat" lx-ripple
                            ng-click="saveDialog('create_rules')">Сохранить
                    </button>
                </div>
            </lx-dialog>
        </div>


        <div flex-item="2" class="ng-hide" ng-hide="active!='styles'">
            <div flex-container="row">
                <div flex-item="11">
                    <lx-select style="width: 100%;"
                               ng-model="styles.selected" change="styles.onChange(newValue)"
                               placeholder="Выберите стиль" floating-label
                               choices="styles.list" loading="{{ styles.loading }}"
                               model-to-selection="styles.toSelection(data, filteringCallback)">
                        <lx-select-selected>
                            [{{ $selected.type }}] {{ $selected.name + " - " + $selected.template}}
                        </lx-select-selected>

                        <lx-select-choices>
                            [{{ $choice.type }}] {{ $choice.name + " - " + $choice.template}}
                        </lx-select-choices>
                    </lx-select>
                </div>
                <div flex-item style="padding-top: 30px;">
                    <lx-dropdown position="right" from-top="true">
                        <button class="btn btn--m btn--black btn--icon" lx-ripple
                                lx-dropdown-toggle>
                            <i class="mdi mdi-dots-vertical"></i>
                        </button>

                        <lx-dropdown-menu>
                            <ul>
                                <li>
                                    <a class="dropdown-link dropdown-link--is-large"
                                       ng-click="styles.download()">
                                        <i class="mdi mdi-download"></i>
                                        <span>Скачать</span>
                                    </a>
                                </li>
                            </ul>
                        </lx-dropdown-menu>
                    </lx-dropdown>
                </div>
            </div>

            <button class="btn btn--m btn--blue-grey  btn--raised mt" ng-click="styles.save()"
                    lx-ripple>Сохранить
            </button>

            <button class="btn btn--m btn--blue-grey  btn--raised mt"
                    ng-click="opendDialog('create_styles')" lx-ripple>Создать
            </button>
            <lx-dialog class="dialog dialog--l" id="create_styles" auto-close="true"
                       onclose="closingDialog()" onscrollend="scrollEndDialog()">
                <div class="dialog__header">
                    <div class="toolbar bgc-blue-grey-900 pl++">
            <span class="toolbar__label tc-white fs-title">
                Создать стиль
            </span>
                    </div>
                </div>

                <div class="dialog__content">

                    <div class="p+">
                        <div class="radio-group" flex-container="row">
                            <div class="radio-button">
                                <input type="radio" id="radio6" name="radio1" value="style"
                                       ng-model="newStyle.type" class="radio-button__input">
                                <label for="radio6" class="radio-button__label">style</label>
                            </div>

                            <div class="radio-button">
                                <input type="radio" id="radio7" name="radio1" value="system"
                                       ng-model="newStyle.type" class="radio-button__input">
                                <label for="radio7" class="radio-button__label">system</label>
                            </div>

                            <div class="radio-button">
                                <input type="radio" id="radio8" name="radio1" value="element"
                                       ng-model="newStyle.type" class="radio-button__input">
                                <label for="radio8" class="radio-button__label">element</label>
                            </div>
                        </div>
                        <div flex-item>
                            <lx-text-field label="Имя">
                                <input type="text" ng-model="newStyle.name">
                            </lx-text-field>
                        </div>
                    </div>

                </div>

                <div class="dialog__actions">
                    <button class="btn btn--m btn--black btn--flat" lx-ripple lx-dialog-close>
                        Отмена
                    </button>
                    <button class="btn btn--m btn--black btn--flat" lx-ripple
                            ng-click="saveDialog('create_styles')">Сохранить
                    </button>
                </div>
            </lx-dialog>
        </div>


        <div flex-item="10" style="padding:0;">
            <div id="editor"></div>
        </div>
    </div>
</div>

<script src="/assets/libs/jquery/dist/jquery.js"></script>
<script src="/assets/libs/lodash/lodash.js"></script>
<script src="/assets/libs/velocity/velocity.js"></script>
<script src="/assets/libs/moment/min/moment-with-locales.min.js"></script>
<script src="/assets/libs/angular/angular.js"></script>
<script src="/assets/libs/angular-route/angular-route.js"></script>
<script src="/assets/libs/lumx/dist/lumx.js"></script>
<script src="/assets/libs/ace/ace.js"></script>
<script src="/assets/libs/ace/mode-json.js"></script>
<script src="/assets/libs/ace/mode-javascript.js"></script>
<script src="/assets/libs/ace/worker-json.js"></script>
<script src="/assets/libs/jshint/jshint.min.js"></script>
<script src="/assets/libs/ace/worker-javascript.js"></script>
<script src="/assets/libs/ace/ext-searchbox.js"></script>
<script src="/assets/libs/ace/ext-language_tools.js"></script>

<script src="/assets/scripts/format-xml.js"></script>
<script src="/assets/scripts/app.js"></script>
</body>
</html>